.inner {
  width: 1176px;
  height: 100%;
  margin: 0 auto;
}

.inner::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  height: 86px;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.logo {
  margin: 32px 0;
  width: 145px;
  height: 22px;
  float: left;
}

.logo_link {
  display: block;
  height: 100%;
  background: url("../images/logo.png") no-repeat center;
  background-size: contain;
}

/* 네비메뉴 */
.nav {
  float: left;
  margin-left: 54px;
}
.main_depth {
} /*ul*/

.main_depth_item {
  display: inline-block;
  vertical-align: top;
  padding: 32px 36px;
} /*li*/

.main_depth_link,
.sub_depth_link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

/* 소메뉴 */
.sub_depth {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 200px;
  min-width: 1176px;
  padding: 20px 0;
  top: 86px;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.sub_depth_item {
  display: inline-block;
  vertical-align: top;
}

.sub_depth_item + .sub_depth_item {
  margin-left: 136px;
}

.sub_depth_link {
  display: block;
  padding: 10px 0;
  line-height: 14px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

/* 소메뉴 내려오기 */
.main_depth_item:hover .main_depth_link + .sub_depth {
  display: block;
}

/* 버튼박스 */
.btn_wrap {
  float: right;
  margin: 23px 0;
}

.btn_biz {
  padding: 8px 14px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
}

.btn_biz + .btn_biz {
  margin-left: 4px;
}

/*메인배너*/
.page_wrap {
  padding-top: 86px;
}

.main_slide {
  height: 82vh;
  background: #eee;
}

.slide_item {
  height: 100%;
}

.text_wrap {
  text-align: center;
}

.tlt {
  display: block;
}
